node_modules
dist
build
coverage
*.min.js
*.bundle.js
package-lock.json
pnpm-lock.yaml
.git
.vscode
.idea
DS_Store
Thumbs.db
*.log
tmp
temp
**/*.spec.ts
**/*.test.ts
**/*.test.tsx
**/test/**
**/e2e/**
test-*.js
prisma/**
*.d.ts
types.ts
**/types/**
conversionProgram/**
代码参考/**