@media screen and (orientation: portrait) {
    /* 竖屏样式 */
  
  }
  
  @media screen and (orientation: landscape) {
    /* 横屏样式 */
  }
  
  :root:root{
    // ‍  自定义
// ‍ Customize

    --bg-color: #292929;
    --active-color: rgba(255, 255, 255, 0.1);
    --icon-size: 48px;
    --van-popover-dark-background: #292929;
    // ‍  popover 组件
// ‍ Popover component

    --van-popover-action-height: 60px;
    --van-popover-action-font-size: var(--van-font-size-xs);
    --van-popup-title-font-size: var(--font-size-title);
    // --van-dialog-background: #292929;
    --van-dialog-has-title-message-text-color: #fff // Field
  }
  
  .van-toast {
    --van-toast-background: #333333c7;
  }
  .van-icon {
    font-size: var(--icon-size) !important;
  }
  
  // ‍  去掉popover组件的下边框
// ‍ Remove the bottom border of the popover component

  .van-hairline--bottom:after {
    border-bottom-width: 0
  }
  // ‍  icon 图片百分百
// ‍ Icon image 100%

  .img, .img img{
      width: 100%;
      height: 100%;
  }
  // ‍  重置dialog样式
// ‍ Reset dialog style

  // .van-dialog {
  //   border-radius: 16px;
  //   // Cell
  //   --van-cell-vertical-padding: 20px;
  //   --van-cell-horizontal-padding: 10px;
  //   --van-cell-background: transition;
  
  //   // Field
  //   --van-field-label-width: auto;
  //   --van-field-label-color: #fff;
  //   --van-field-icon-size: 10px;
  
  //   .van-field {
  //     justify-content: space-between;
  
  //     &.van-cell:after {
  //       content: unset;
  //     }
  
  //     .van-field__label {
  //       width: 200px;
  //       text-align: right;
  //       font-size: var(--van-font-size-xs);
  //     }
  
  //     .van-field__value {
  //       background: #E3E3E3;
  //       padding: 0 16px;
  //       border-radius: var(--van-radius-sm);
  //     }
  //   }
  
  //   .van-dialog__header {
  //     font-weight: unset;
  //     background-color: #494747;
  //     color: #fff;
  //     --van-dialog-header-padding-top: 0;
  //     padding: 20px 0;
  //   }
  
  //   .van-dialog__message--has-title {
  //     padding: 30px 40px;
  //   }
  
  //   .van-dialog__confirm,
  //   .van-dialog__cancel {
  //     border-radius: 0;
  //     background: #494747;
  //     color: #00ACA0;
  //   }
  
  //   .van-dialog__footer::after,
  //   .van-dialog__confirm::after {
  //     content: unset
  //   }
  // }
  
  
  
  * {
    box-sizing: border-box;
  }
  
  /* 清除按钮的默认样式 */
  button,
  [type="button"],
  [type="reset"],
  [type="submit"] {
    background: none;
    /* 移除背景颜色 */
    border: none;
    /* 移除边框 */
    color: inherit;
    /* 颜色继承自父元素，可根据需要修改 */
    font: inherit;
    /* 字体继承自父元素，保持一致性 */
    cursor: pointer;
    /* 改变光标为手指形状，指示可点击 */
    outline: none;
    /* 移除点击时的焦点轮廓 */
    -webkit-appearance: none;
    /* 移除Webkit内核浏览器的默认样式 */
    -moz-appearance: none;
    /*  ‍ 移除Firefox的默认样式 */
/* ‍ Remove default styles from Firefox*/

    appearance: none;
    /*  ‍ 移除默认样式，提高一致性 */
/* ‍ Remove default styles to improve consistency*/

  }
  
  html,
  body {
    margin: 0;
  }
  
  .zoomed {
    transition: transform 0.3s ease;
    transform-origin: center;
  
    &:active {
      /*  ‍ 放大状态的样式 */
/* ‍ Enlarge the style of the state*/

      transform: scale(var(--zoomed-scale, 2));
    }
  }
  
  ;

  
  /**
  * 适配 iphone 底部安全区（指示条，配合index.html <meta name="viewport" ... />使用
  */
  @supports (bottom: env(safe-area-inset-bottom)){
      #app {
          padding-bottom: constant(safe-area-inset-bottom);
          padding-bottom: env(safe-area-inset-bottom);
      }
  }

  #app {
      min-height: 100vh;
  }
